<h1>Angular</h1>
<div  ng-controller="PhoneListCtrl" ng-app="phonecatApp">
  <div class="row">
    <div class="small-4 large-6 columns">Search:</div>
    <div class="small-8 large-6 columns"><input ng-model="query"></div>
  </div>
  <div class="row">
    <div class="small-4 large-6 columns">Sort By:</div>
    <div class="small-8 large-6 columns">
      <select ng-model="orderops">
        <option value="snippet">Alphabetical</option>
        <option value="age">Newest</option>
      </select>
    </div>
  </div>
  <div>
    <div class="phones">
      <div ng-repeat="phone in phones | filter:query | orderBy:orderops" class="row">
        <div class="small-4 large-6 columns">
          <p>{{phone.name}}</p>
        </div>
        <div class="small-8 large-6 columns">
          <p>{{phone.snippet}}</p>
        </div>

      </div>
    </div>
  </div>
</div>